.questions {
            background-color: #f8fffe;
            height: 50px;
            margin-top: 20px;
            padding: 15px;
            max-width: 600px;
            border-left: 8px solid green;
            display: flex;
            align-items: center;
        }

        blockquote {
            margin-left: 0;
            margin-right: 0;
        }

        p {
            margin: 0;
            font-family: Arial, sans-serif;
        }